@mixin submit-btn($height, $width) {
  background-color: #cdfccd;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  display: block;
  font-size: 20px;
  height: $height;
  margin: auto auto 10px auto;
  transition: 0.8s;
  width: $width;
  -webkit-transition: 2s ease; /* Safari and Chrome */
  -moz-transition: 2s ease; /* Firefox 4 */
  -o-transition: 2s ease; /* Opera */

  &:hover {
    background-color: #eebbc3;
    border: 1px solid #E79DAB;
    cursor: pointer;
    transition: 0.1s;
  }

  &:focus {
    background-color: #eebbc3;
    border: 1px solid #E79DAB;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
  }

  &:active {
    background-color: #cdfccd;
    border: 1px solid #cdfccd;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
  }
}
